<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE    </title>
</head>

<style>
    html
    {
        background-color: rgb(189, 191, 205);
    }
</style>

<body>

{% if date %}
    <table>
        {% for row in data %}
            <tr><th>Name</th>><th>Surname</th><th>BirthDate</th></tr>

            <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td></tr>
        {% endfor %}
    </table>
{% end if %}

<h3><a href="/about">about</a></h3>
{% endblock %}
</body>
</html>