{% extends  'base1.html' %}


{% block content %}

{% if form %}
<form action="" method="post">
    {{ form.csrf_token }}

    {{ form.name.label }}
    {{ form.name() }}
    <br>
    {{ form.email.label }}
    {{ form.email() }}
    <br>
    {{ form.password.label }}
    {{ form.password() }}
    <br>
    {{ form.password_again.label }}
    {{ form.password_again() }}
    <br>
    {{ form.remember_me.label }}
    {{ form.remember_me() }}
    <br>
    {{ form.submit() }}
{% endif %}
{% if message == 'Registration successfull' %}
    <a href="/log">Authorization</a>
{% endif %}
{{ message }}
   

</form>

{% endblock %}